
.avatar img{
    height: 100%;
}

ion-avatar{
    margin:auto;
}

.button-container{
    width: 80%;
    
    margin: auto;
    margin-top: 50px;

    border-radius: 5px;

    /*display: none;*/
}
.button-container ion-button{
    width: 65%;
}
.button-container ion-icon{
    margin: auto;
}

.document-container{
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top: 50px;

    border-radius: 5px;
    
}
.document-container img{
    height: 100%;
    width: 100%;
}
.document-info{
    position: relative;
    bottom: 50px;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    
    border-radius: 5px;
    /*display: none; */
}
.document-info ion-text{
    margin: 20px;
    font-size: medium;
}

.document-pick{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40%;
}
.document-pick ion-slides{
    height: 100%;
}
.continue-container{
    width: 260px;
    margin: auto;
    margin-top: -30px;

}
