img{
}
ion-slides .center{
    align-self: center;
}

.background {
  color: #f2f7f0;
}

.slide-project ion-card-content{
  height: 55px;
}

.slide-arrow{
  align-self: center;
}
.slide-arrow ion-icon{
  font-size: 48px;
}

.value-label{
  text-align: center;
}