.project-detail .risk-container{
    text-align: center;
}
.project-detail img{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.project-detail .project-type{
    text-align: center;
}
.project-detail .funds{
    margin-top: 30px;
}

.project-detail .description{
    height: 110px;
    overflow: scroll;
    line-height: 20px;
    margin:5;
}

ion-grid{
    --ion-grid-width:200px;
}

ion-item{
    font-size: small;
}
